In [12]:
import os
import pandas as pd 

from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [ ]:
""" 	
        pred dog pred cat
actual dog	 46	   7
actual cat	 13   34 """

In [ ]:
#2 Describing the model if positive class is dog pic
#TP pred dog actual dog: 46
#Fp pred dog actual cat 13
#FN pred cat actual dog
#TN pred cat actual cat

In [34]:
#TP defective duck, TN Non-defective duck, FP predicted def duck got good duck, FN predicted good duck got bad duck

#recall 

duck_df = pd.read_csv("c3.csv")

In [35]:
duck_df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [41]:
duck_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [39]:
pd.DataFrame(classification_report(duck_df.actual, duck_df.model1,
                                  labels =['No Defect','Defect'],
                                  output_dict=True))

            No Defect     Defect  accuracy   macro avg  weighted avg
precision    0.957895   0.800000      0.95    0.878947      0.945263
recall       0.989130   0.500000      0.95    0.744565      0.950000
f1-score     0.973262   0.615385      0.95    0.794323      0.944632
support    184.000000  16.000000      0.95  200.000000    200.000000

In [ ]:
#.50 model1

In [38]:
pd.DataFrame(classification_report(duck_df.actual, duck_df.model2,
                                  labels =['No Defect','Defect'],
                                  output_dict=True))

            No Defect     Defect  accuracy   macro avg  weighted avg
precision    0.936364   0.100000      0.56    0.518182      0.869455
recall       0.559783   0.562500      0.56    0.561141      0.560000
f1-score     0.700680   0.169811      0.56    0.435246      0.658211
support    184.000000  16.000000      0.56  200.000000    200.000000

In [ ]:
#.56 for model2

In [40]:
pd.DataFrame(classification_report(duck_df.actual, duck_df.model3,
                                  labels =['No Defect','Defect'],
                                  output_dict=True))

            No Defect     Defect  accuracy   macro avg  weighted avg
precision    0.970297   0.131313     0.555    0.550805      0.903178
recall       0.532609   0.812500     0.555    0.672554      0.555000
f1-score     0.687719   0.226087     0.555    0.456903      0.650789
support    184.000000  16.000000     0.555  200.000000    200.000000

In [ ]:
#.81 for model3

In [ ]:
#Postitive case is defect so:
#TP pred defect and get defect 
#TN pred no defect and get no defect
#FP pred defect and get no defect 
#FN pred no defect and get defect 
#Trying to avoid FN the most so go with precision

In [7]:
df = pd.read_csv("gives_you_paws.csv")

In [8]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [42]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [44]:
df.actual.value_counts("dog")

dog    0.6508
cat    0.3492
Name: actual, dtype: float64

In [49]:
df.actual.value_counts().idxmax() #

dog    3254
cat    1746
Name: actual, dtype: int64

In [47]:
df["baseline"] = df.actual.value_counts().idxmax()

In [50]:
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [51]:
y_actual = df.actual 
y_baseline = df.baseline

dog    0.6508
cat    0.3492
Name: actual, dtype: float64

In [52]:
#baseline accuracy score in SKlearn
accuracy_score(y_actual, y_baseline)

0.6508

In [16]:
#accuracy score for each model
accuracy_score(y_actual, df.model1)

0.8074

In [17]:
accuracy_score(y_actual, df.model2)

0.6304

In [18]:
accuracy_score(y_actual, df.model3)

0.5096

In [53]:
accuracy_score(y_actual, df.model4)

0.7426

In [55]:
model_acc = [] #A loop to run all the accuracy cal. at once and return a dataframe 

for model in df.columns[1:]:
    acc = accuracy_score(y_actual, df[model])
    model_acc.append([model, acc])
    
pd.DataFrame(model_acc, columns=["model" , "accuracy"])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

In [ ]:
#model 1 & 4 beats baseline

In [22]:
#dog pics only
#TP dog and dog, TN cat and cat, FP think dog get cat, FN Think cat get dog 
#Precision
precision_score(y_actual, df.model1,
                labels=["dog" , "cat"], average=None)

array([0.89002383, 0.68977218])

In [23]:
precision_score(y_actual, df.model2,
                labels=["dog" , "cat"], average=None)

array([0.89317673, 0.48412204])

In [29]:
precision_score(y_actual, df.model3,
                labels=["dog" , "cat"], average=None)

array([0.65988836, 0.35834671])

In [33]:
precision_score(y_actual, df.model4,
                labels=["dog" , "cat"], average=None)

array([0.73124853, 0.80722892])

In [58]:
precision_score(y_actual, df.baseline, labels=["dog" , "cat"], average=None)

/Users/olivertaylor/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([0.6508, 0.    ])

In [ ]:
#model2

In [ ]:

#cat pics only
#TP cat and cat, TN dog and dog, FP think cat get dog, FN Think dog get cat
#Precision
#model4

In [30]:
precision_score(y_actual, df.model3,
                labels=["cat" , "dog"], average=None)

array([0.35834671, 0.65988836])

In [31]:
precision_score(y_actual, df.model2,
                labels=["cat" , "dog"], average=None)

array([0.48412204, 0.89317673])

In [32]:
precision_score(y_actual, df.model1,
                labels=["cat" , "dog"], average=None)

array([0.68977218, 0.89002383])

In [71]:
model_per = {} #A loop to run all the percision cal. at once and return a dataframe 

for model in df.columns[1:]: #indexs the df starting at 1 not 0 because 0 is the actual 
    per = precision_score(y_actual, df[model], labels=["dog" , "cat"], average=None)
    model_per.update({model:[per]})
    

pd.DataFrame.from_dict(model_per, orient="index", columns=["percision for dogs and cats"]) #takes

/Users/olivertaylor/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                       percision for dogs and cats
model1    [0.8900238338440586, 0.6897721764420747]
model2    [0.8931767337807607, 0.4841220423412204]
model3     [0.6598883572567783, 0.358346709470305]
model4    [0.7312485304490948, 0.8072289156626506]
baseline                             [0.6508, 0.0]