In [12]:
import os
import pandas as pd 

from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [ ]:
#2
#pred cat actual dog
#actual cat pred dog
#

In [ ]:
#TP defective duck, TN Non-defective duck, FP predicted def duck got good duck, FN predicted good duck got bad duck

#recall

In [ ]:
#TP good duck good duck, TN bad duck bad duck, FP predicted good duck got bad duck, FN Predicted bad duck got good duck 
#recall

In [7]:
df = pd.read_csv("gives_you_paws.csv")

In [8]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [9]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [28]:
df.model4.value_counts()

dog    4253
cat     747
Name: model4, dtype: int64

In [13]:
y_actual = df.actual 
y_baseline = df.model4
y_pred = df.model4

In [14]:
#baseline accuracy score in SKlearn
accuracy_score(y_actual, y_baseline)

0.7426

In [16]:
#accuracy score for each model
accuracy_score(y_actual, df.model1)

0.8074

In [17]:
accuracy_score(y_actual, df.model2)

0.6304

In [18]:
accuracy_score(y_actual, df.model3)

0.5096

In [ ]:
#model one beats baseline

In [22]:
#dog pics only
#TP dog and dog, TN cat and cat, FP think dog get cat, FN Think cat get dog 
#Precision
precision_score(y_actual, df.model1,
                labels=["dog" , "cat"], average=None)

array([0.89002383, 0.68977218])

In [23]:
precision_score(y_actual, df.model2,
                labels=["dog" , "cat"], average=None)

array([0.89317673, 0.48412204])

In [29]:
precision_score(y_actual, df.model3,
                labels=["dog" , "cat"], average=None)

array([0.65988836, 0.35834671])

In [ ]:
#model2

In [ ]:

#cat pics only
#TP cat and cat, TN dog and dog, FP think cat get dog, FN Think dog get cat
#Precision
#model1

In [30]:
precision_score(y_actual, df.model3,
                labels=["cat" , "dog"], average=None)

array([0.35834671, 0.65988836])

In [31]:
precision_score(y_actual, df.model2,
                labels=["cat" , "dog"], average=None)

array([0.48412204, 0.89317673])

In [32]:
precision_score(y_actual, df.model1,
                labels=["cat" , "dog"], average=None)

array([0.68977218, 0.89002383])